# Question 1:

In [1]:
b = 0

def r():
    
    global b
    
    b = d(b)
    
def d(b):
    
    return b + 2

r()

r()

r()

b

6

## EXPLANATION 
As we define 'a' as the global variable, the changes we make in the function would also affect the changes outside the function.
In the first time a's value will be 0 so in d(b), it will return 0+2=2 then global b's value will be 2
In the second time a's value will be 2 so in d(b), it will return 2+2=4 then global b's value will be 4
In the third time a's value will be 4 so in d(b), it will return 4+2=6 then global b's value will be 6
b=6  # Here global namespace a is being referred, so value is 6.
Thus, everytime r() is getting executed, global b is getting changed,so b's value will be 6.

# Question 2:

In [2]:
def fileLen(fileName):
    
    try:
        
        infile=open(fileName)
        
        data=infile.read()
        
        ln=len(data)
        
        infile.close()
        
        print(ln)
        
    except IOError:
        
        print('File ' + fileName + ' not found.')  
                                                   
        
fileLen('Filelength.txt')

fileLen('Filelengt.txt')

123
File Filelengt.txt not found.

# Question 3:

In [3]:
class Marsupial:
    
    def __init__(self):
        
        self.Lst = []
        
    def put_in_pocket(self,item):
        
        self.Lst.append(item)
        
    def pocket_contents(self):
         
        return self.Lst

class Kangaroo(Marsupial):
    
    def __init__(self,x,y):
        
        Marsupial.__init__(self)
        
        self.x = x
        
        self.y = y
        
    def jump(self,dx,dy):
        
        self.x += dx
        
        self.y += dy
        
    def __str__(self):
        
        return 'I am a Kangaroo located at co-ordinates ({},{})'.format(self.x,self.y)
    
    
r = Marsupial()

r.put_in_pocket('ball')

r.put_in_pocket('gloves')

r.put_in_pocket('bat')

r.pocket_contents()

k = Kangaroo(0,0)

print(k)

k.put_in_pocket('ball')

k.put_in_pocket('gloves')

k.put_in_pocket('bat')

a=k.pocket_contents()

print(a)

k.jump(1,0)

k.jump(1,0)

k.jump(1,0)

print(k)

I am a Kangaroo located at co-ordinates (0,0)
['ball', 'gloves', 'bat']
I am a Kangaroo located at co-ordinates (3,0)

# Question 4:

In [4]:
def collatz(x):
    print(int(x))
    if x%2==0 and x!=1:
        x=x/2
        collatz(x)
    else:
         if x!=1:
            x=3*x+1
            collatz(x)

collatz(1)

1

In [5]:
collatz(10)

10
5
16
8
4
2
1

# Question 5:

In [6]:
def binary(n):
    
    if n == 0:
        
        return 0
    
    else:
        
        binary(n//2)
        
    print(n % 2,end = '')

N = int(input("Enter the number: "))

binary(N)

Enter the number: 3
11

# Question 6:

In [7]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    
    Headers = ["h1", "h2"]
    
    current = -1

    def handle_starttag(self, tag, attrs):
        
        if tag in HeadingParser.Headers:
            
            HeadingParser.current = HeadingParser.Headers.index(tag)
    
    def handle_endtag(self, tag):
        
        if tag == HeadingParser.Headers[HeadingParser.current]:
            
            HeadingParser.current = -1
            
    def handle_data(self, data):
        
        if HeadingParser.current >= 0:
            
            print(" " * HeadingParser.current + data)

In [8]:
infile = open("w3c.html","r")

content = infile.read()

infile.close()

hp = HeadingParser()

hp.feed(content)

W3C Mission
 Principles

# Question 7:

In [9]:
from urllib.request import urlopen

from urllib.parse import urljoin

from html.parser import HTMLParser

class Collector(HTMLParser):

    def __init__(self, url):
        
      
        HTMLParser.__init__(self)
        
        self.url = url
        
        self.links = []


    def handle_starttag(self, tag, attrs):
        
        if tag == 'a':
            
            for attr in attrs:
                
                if attr[0] == 'href':
                    
                    absolute = urljoin(self.url, attr[1])
                    
                    if absolute[:4] == 'http':
                        
                        self.links.append(absolute)

    def getLinks(self):
        
        return self.links


allLinks = []
    
def webdir(url,depth,indent):
    
        global allLinks
        
        print(indent*" " + url)
        
        if depth == 0:
            
            return
        
        for i in allLinks:
            
            webdir(i, depth-1, indent+1)    


url = ' http://reed.cs.depaul.edu/lperkovic/test1.html'

resource = urlopen(url)

content = resource.read().decode()

collector = Collector(url)

collector.feed(content)

allLinks = collector.getLinks()


webdir(url,2,0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
 http://reed.cs.depaul.edu/lperkovic/test2.html
  http://reed.cs.depaul.edu/lperkovic/test2.html

# Question 8:

In [32]:
import sqlite3

con = sqlite3.connect('weatherreport.db')

cur = con.cursor()

cur.execute("CREATE TABLE Report (City text, Country text, Season text,Temperature float,Rainfall float)")

cur.execute("INSERT INTO Report VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")

cur.execute("INSERT INTO Report VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")

cur.execute("INSERT INTO Report VALUES ('Mumbai', 'India', 'Summer',27.9,1549.4 )")

cur.execute("INSERT INTO Report VALUES ('Mumbai', 'India', 'Fall',27.6,346.0)")

cur.execute("INSERT INTO Report VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7 )")

cur.execute("INSERT INTO Report VALUES ('London', 'United Kingdom', 'Spring',8.3,169.6)")

cur.execute("INSERT INTO Report VALUES ('London', 'United Kingdom', 'Summer',15.7,157.0)")

cur.execute("INSERT INTO Report VALUES ('London', 'United Kingdom', 'Fall',10.4,218.5)")

cur.execute("INSERT INTO Report VALUES ('Cairo', 'Egypt', 'Winter',13.6,16.5)")

cur.execute("INSERT INTO Report VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5)")

cur.execute("INSERT INTO Report VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1)")

cur.execute("INSERT INTO Report VALUES ('Cairo', 'Egypt', 'Fall',22.2,4.5)")

In [33]:
#a

cur.execute('SELECT temperature FROM Report')

cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [34]:
#b

cur.execute('SELECT DISTINCT City FROM Report')

cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [35]:
#c

cur.execute("SELECT * FROM Report WHERE Country='India'")

cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [36]:
#d

cur.execute("SELECT * FROM Report WHERE Season='Fall'")

cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [37]:
#e

cur.execute("SELECT City,country,Season FROM Report WHERE Rainfall BETWEEN 200 AND 400")

cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [38]:
#f

cur.execute("SELECT City,country FROM Report WHERE Season='Fall' AND temperature > 20 ORDER BY temperature ASC")

cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [39]:
#g

cur.execute("SELECT SUM(Rainfall) FROM Report WHERE City='Cairo'")

cur.fetchall()

[(27.6,)]

In [40]:
#h

cur.execute("SELECT Season, SUM(Rainfall) FROM Report GROUP BY Season")

cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9:

In [24]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

In [25]:
#a

A = [elements.upper() for elements in words]

print (A)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [26]:
#b

B = [elements.lower() for elements in words]

print(B)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [27]:
#c

C = [len(elements) for elements in words]

print(C)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [28]:
#d

D = [[elements.upper(),elements.lower(),len(elements)] for elements in words]

print(D)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [29]:
#e

E = [elements for elements in words if len(elements)>=4]

print(E)

['quick', 'brown', 'jumps', 'over', 'lazy']